mixin img(src, alt)
  img(src=src alt=alt loading='lazy')&attributes(attributes)

mixin logo
  a.logo(href='./')&attributes(attributes)
    +img('./img/logo/logo.svg', 'Логотип').logo__img

mixin picture(src, alt, ext, noMobile)
  picture
    if !noMobile
      source(srcset=src + '-mobile.webp' type='image/webp' media='(max-width: 520px)')
    source(srcset=src + '.webp' type='image/webp')
    img(src=src + ext alt=alt loading='lazy')&attributes(attributes)

mixin picture-jpg(src, alt, noMobile)
  +picture(src, alt, '.jpg', noMobile)&attributes(attributes)

mixin picture-png(src, alt, noMobile)
  +picture(src, alt, '.png', noMobile)&attributes(attributes)

mixin svg(name)
  svg(data-svg=name)&attributes(attributes)
    use(xlink:href=`./img/sprites/sprite.svg#${name}`)

mixin svg-link(name, href, label)
  a(href=href aria-label=label).svg
    svg(data-svg=name).svg__icon
      use(xlink:href=`./img/sprites/sprite.svg#${name}`)

mixin nav(title, href)
  a.nav__item(href=href)&attributes(attributes)= title

mixin tab(title)
  button.button.button_tab(type='button')&attributes(attributes)= title

mixin card(src, author, title, material, price)
  article.card
    +picture-jpg(src, title).card__image
    div.card__info
      p.card__author= author
      h3.card__title= title
      p.card__material= material
    p.card__price= price
    button.button.button_primary.card__button(type='button') В корзину
